<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <!-- Hyperion server emulator settings -->
    <category label="32001">
        <!-- hostname or IPAddress -->
        <setting id="hyperionIsHostname" type="bool" label="32010" default="true"/>
        <!-- Hyperion server binding adress (or IP, depending on previous setting) -->
        <setting id="hyperionHostname" label="32020" type="text" default="localhost" visible="eq(-1,true)"/>
        <setting id="hyperionIP" label="32021" type="ipaddress" default="192.168.1.1" visible="eq(-2,false)"/>
        <!-- Hyperion server listening port -->
        <setting id="hyperionPort" label="32030" type="number" default="19444"/>
    </category>
    <!-- Boblight server connection settings -->
    <category label="33001">
        <!-- hostname or IPAddress -->
        <setting id="boblightIsHostname" type="bool" label="33010" default="true"/>
        <!-- Boblight server binding adress (or IP, depending on previous setting) -->
        <setting id="boblightHostname" label="33020" type="text" default="localhost" visible="eq(-1,true)"/>
        <setting id="boblightIP" label="33021" type="ipaddress" default="192.168.1.1" visible="eq(-2,false)"/>
        <!-- Boblight server listening port -->
        <setting id="boblightPort" label="33030" type="number" default="19333"/>
    </category>
</settings>